.box {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10%;
    text-align: center;
}

.box input {
    width: 250px;
    padding: 12px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.loadmore-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fa2929;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
}